/* ===============================================
					GENERAL
================================================== */
.center{ text-align: center; }
.divider-60{ margin-top: 60px; }
.divider-30{ margin-top: 30px; }
.divider-15{ margin-top: 15px; }
.float-left{ float: left;}
.hidden{ display: none;}
.inline-block{ display: inline-block; width: 100%;}
.bar{ background-color: #aaa; height: 1px; margin: 20px auto; width: 100%; }

/* ===============================================
					MAIN CSS
================================================== */
body{ background-color: #f5f5f5; }


/* ===============================================
					TOOLBAR CSS
================================================== */
#toolbar,
.toolbar-button,
.toolbar-style-right,
.toolbar-style-left{ height: 50px; }
#toolbar{
	background-color: #313131;
	margin: 0 0 20px 0;
}
#toolbar-logo{
	cursor: pointer;
	height: 31px;
	margin: 8px 0 0 25px;
}
.toolbar-style-right{ border-right: 2px solid #000; }
.toolbar-style-left{ border-left: 1px solid #888; }
.toolbar-button{
	border-left: 1px solid #888;
	border-right: 2px solid #000;
	color: #fff;
	cursor: pointer;
	padding: 15px 0 0 0;
	text-align: center;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}
.toolbar-button:hover{
	background-color: #444;
}

/* ============================================================
					.::	DROPDOWN ::. 
============================================================ */
.btn-dark{
	background-color: #2C3E50;
	color: #fff;
}
.btn-dark,
.btn-primary,
.btn-success,
.btn-info{ 
  	-webkit-transition: 0.15s;
  	-moz-transition: 0.15s;
  	-o-transition: 0.15s;
  	transition: 0.15s;
 }
.btn-dark:hover{ background-color: #1a2632; color: #fff;}
.btn-dark .caret{
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.drop-menu{
	-moz-border-top-left-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	background-color: #2C3E50; 
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-border-right-radius: 6px;
	color: #fff;
	list-style-type: none;
	margin-top: 35px;
	opacity: 0;
	position: absolute;
	z-index: 50;
	width: 100%;
}
.drop-menu li{ margin-left: -40px; }
.drop-menu span{ padding-left: 20px; }
.drop-menu li:hover{
	background-color: #455b70;
	cursor: pointer;
}
.dropdown-top:hover{
	-moz-border-top-left-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.dropdown-bott:hover{
	-moz-border-bottom-left-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-border-right-radius: 6px;
}
/* ===============================================
					CONTAINER CSS
================================================== */
#main-search{ margin: 0 0 25px 0;}
.main-row-container{ 
	display: block;
	margin-top: 15px;
}
.main-container{ 
	background-color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #b9b9b9;
	box-shadow: 0 1px 5px #d1d1d1;
	padding: 30px 30px;
	margin-bottom: 30px;
}
.main-header{
	color: #666;
	font-size: 22px;
	margin: 10px auto 20px auto;
}
.main-row{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #f8f8f8;
	border: 1px solid #bbb;
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	padding: 13px 20px;
	width: 100%;
}
.main-row-content{ display: none;}
.main-row-body{ margin: 15px 0 15px 0px; }
.main-row-arrow{ margin: 0 2px 0 12px; }
.main-row-clock{ height: 16px; }
.main-row-date{ 
	color: #777;
	cursor: pointer;
	font-size: 13px;
	margin: 10px 0 0 0;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}
.main-row-date:hover{
	color: #333;
}
.main-row-smallarrow{ 
	height: 20px;
	margin: 0 2px 0 5px; 
	width: 20px;
}
/* Images of Sender and Receiver */
.main-row-person{ 
	display: inline-block; 
	height: 70px;
	width: 40px;
}
.main-row-from, 
.main-row-to{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #666;
	cursor: pointer;
	display: inline-block;
	margin-left: 5px;
	width: 40px;
	height: 40px;
}
.sender-text{
	color: #555; 
	font-size: 13px;
	padding: 6px 0 0 6px;
	width: 50px;
}
#logo-center{
	cursor: pointer;
	display: block;
	margin: 50px auto;
	width: 100%;
}

/* ===============================================
					EMPLOYEE CSS
================================================== */
.employee-row{
	background-color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #b9b9b9;
	box-shadow: 0 1px 5px #d1d1d1;
	cursor: pointer;
	display: inline-block;
	margin: 0 8px 20px 0;
	padding: 10px 10px;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	width: 15%;
}
.employee-row:hover{
	background-color: #eee;
}
.employee-text{
	color: #555;
	display: block;
	font-size: 13px;
	margin: 4px 0;
}
.employee-name{ height: 40px;}
.employee-pic{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: block;
	margin-bottom: 10px;
	width: 100%;
}

/* ===============================================
					FOOTER CSS
================================================== */
#footer{ margin-bottom: 100px;}
.footer-text{
	color: #777;
	margin-left: 20px;
}