<html>
<head>
	<title>TubeMogul Kudos</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.js" /></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js" /></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js" /></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/main.js" /></script>
</head>
<body>
	<!-- START TOOLBAR -->
	<div id="toolbar">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<img id="toolbar-logo" src="{{ STATIC_URL }}images/tubemogul.png" />
				</div>
				<div class="col-lg-3"></div>
				<div class="col-lg-3 "></div>
				<div class="col-lg-1 toolbar-style-right"></div>
				<div class="col-lg-1 toolbar-button">
					Directory
				</div>
				<div class="col-lg-1 toolbar-style-left">
				</div>
			</div>
		</div>
	</div>
	<!-- END TOOLBAR -->
	<div class="container">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<img id="logo-center" src="{{ STATIC_URL }}images/tmkudos.png" />
			</div>
			<div class="col-lg-3"></div>
		</div>
	</div>
	<div class="container main-container">
		<div class="divider-15"></div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<div class="main-header">
					Kudos Report
					<hr />
				</div>
			</div>
			<div class="col-lg-1"></div>
		</div>
		<form method="get" action=".">
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<input id="main-search" type="text" name="q" class="form-control" placeholder="E.g. Brett Wilson, CEO, AdOps" >
			</div>
			<div class="col-lg-1"></div>
		</div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-2">
                <div class="btn-group" style="width: 100%;">
                    <button id="btn-dept" type="button" class="btn btn-block btn-success dropdown-toggle" data-toggle="dropdown" >
                        <span class="btn-option">All Departments</span> <span class="caret"></span>
                    </button>
                    <ul class="drop-menu hidden">
                        <li class="dropdown-top" style="padding: 14px 14px;"><span>Department</span></li>
                        <li style="padding: 14px 14px;"><span>AdOps</span></li>
                        <li style="padding: 14px 14px;"><span>Accounting</span></li>
                        <li style="padding: 14px 14px;"><span>Engineering</span></li>
                        <li style="padding: 14px 14px;"><span>HR/Recruiting</span></li>
                        <li style="padding: 14px 14px;"><span>Marketing</span></li>
                        <li style="padding: 14px 14px;"><span>Sales</span></li>
                        <li class="dropdown-bott" style="padding: 14px 14px;"><span>SysOps</span></li>
                    </ul>
                </div>
			</div>
			<div class="col-lg-2">
                <div class="btn-group" style="width: 100%;">
                    <button id="btn-type" type="button" class="btn btn-block btn-success dropdown-toggle" data-toggle="dropdown" >
                        <span class="btn-option">All Sender Types</span> <span class="caret"></span>
                    </button>
                    <ul class="drop-menu hidden">
                        <li class="dropdown-top" style="padding: 14px 14px;"><span>All Sender Types</span></li>
                        <li style="padding: 14px 14px;"><span>Top Receivers</span></li>
                        <li style="padding: 14px 14px;"><span>Top Senders</span></li>
                        <li class="dropdown-bott" style="padding: 14px 14px;"><span>All</span></li>
                    </ul>
                </div>
			</div>
			<div class="col-lg-2">
                <div class="btn-group" style="width: 100%;">
                    <button id="btn-sort" type="button" class="btn btn-block btn-success dropdown-toggle" data-toggle="dropdown" >
                        <span class="btn-option">Latest Kudos</span> <span class="caret"></span>
                    </button>
                    <ul class="drop-menu hidden">
                        <li class="dropdown-top" style="padding: 14px 14px;"><span>Latest Kudos</span></li>
                        <li style="padding: 14px 14px;"><span>Automated</span></li>
                        <li style="padding: 14px 14px;"><span>Manual</span></li>
                        <li style="padding: 14px 14px;"><span>Unit</span></li>
                        <li class="dropdown-bott" style="padding: 14px 14px;"><span>All</span></li>
                    </ul>
                </div>
			</div>
			<div class="col-lg-2">
                <div class="btn-group" style="width: 100%;">
                    <button id="btn-cat" type="button" class="btn btn-block btn-success dropdown-toggle" data-toggle="dropdown" >
                        <span class="btn-option">All Categories</span> <span class="caret"></span>
                    </button>
                    <ul class="drop-menu hidden" >
                        <li class="dropdown-top" style="padding: 14px 14px;"><span>All Categories</span></li>
                        <li style="padding: 14px 14px;"><span>Automated</span></li>
                        <li style="padding: 14px 14px;"><span>Manual</span></li>
                        <li style="padding: 14px 14px;"><span>Unit</span></li>
                        <li class="dropdown-bott" style="padding: 14px 14px;"><span>All</span></li>
                    </ul>
                </div>
			</div>
			<div class="col-lg-2">
				<input class="btn btn-primary inline-block" id="search-button" value="Search">
			</div>
			<div class="col-lg-1"></div>
		</div>
		</form>
		<div class="divider-60"></div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<div id="main-results" class="main-header">
					Latest Kudos
					<hr />
				</div>
			</div>
			<div class="col-lg-1"></div>
		</div>
		<!-- DO ROW LOOP HERE -->
		<div class="search-results-container"></div>
		<div class="divider-60"></div>
	</div>
	<!-- START FOOTER -->
	<div class="container">
		<div class="row">
			<div class="col-lg-4 footer-text">
				&copy; 2013. Tubemogul, Inc.
			</div>
			<div class="col-lg-4"></div>
			<div class="col-lg-4"></div>
		</div>
	</div>
	<!-- END FOOTER -->
	<div class="divider-60"></div>
	<script type="text/javascript" src="{{ STATIC_URL }}js/home.js">
	</script>
</body>
</html>