<html>
<head>
	<title>TubeMogul Kudos</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}js/bootstrap.js" />
</head>
<body>
	<!-- START TOOLBAR -->
	<div id="toolbar">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<img id="toolbar-logo" src="{{ STATIC_URL }}images/tubemogul.png" />
				</div>
				<div class="col-lg-3"></div>
				<div class="col-lg-3 toolbar-style-right"></div>
				<div class="col-lg-1 toolbar-button">
					Profile
				</div>
				<div class="col-lg-1 toolbar-button">
					Settings
				</div>
				<div class="col-lg-1 toolbar-style-left">
				</div>
			</div>
		</div>
	</div>
	<!-- END TOOLBAR -->
	<div class="container">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<img id="logo-center" src="{{ STATIC_URL }}images/tmkudos.png" />
			</div>
			<div class="col-lg-3"></div>
		</div>
	</div>
	<div class="container main-container">
		<div class="divider-15"></div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<div class="main-header">
					Kudos Report
					<hr />
				</div>
			</div>
			<div class="col-lg-1"></div>
		</div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<input id="main-search" type="text" class="form-control" placeholder="E.g. Brett Wilson, CTO, AdOps" >
			</div>
			<div class="col-lg-1"></div>
		</div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-2">
				<input class="btn btn-success inline-block" value="Department">
			</div>
			<div class="col-lg-2">
				<input class="btn btn-success inline-block" value="Sender Type">
			</div>
			<div class="col-lg-2">
				<input class="btn btn-success inline-block" value="Sort By">
			</div>
			<div class="col-lg-2">
				<input class="btn btn-success inline-block" value="Category">
			</div>
			<div class="col-lg-2">
				<input class="btn btn-primary inline-block" value="Search">
			</div>
			<div class="col-lg-1"></div>
		</div>
		<div class="divider-60"></div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<div id="main-results" class="main-header">
					Latest Kudos
					<hr />
				</div>
			</div>
			<div class="col-lg-1"></div>
		</div>
		<!-- DO ROW LOOP HERE -->
	    {% for kudos in kudos_set %}
		<div class="row main-row-container">
			<div class="col-lg-1"></div>
			<div class="col-lg-2">
				<!-- CHANGE IMAGES HERE -->
		        <img class="main-row-from" src="{{ STATIC_URL }}images/user-eric.png" />
		        <img class="main-row-arrow" src="{{ STATIC_URL }}images/arrow.png" />
		        <img class="main-row-to" src="{{ STATIC_URL }}images/user-jeff.png" />
			</div>
			<div class="col-lg-6">
		        <div class="main-row">{{ kudos.subject }}, {{ kudos.tags }}</div>
			</div>
			<div class="col-lg-2">
		        {{ kudos.created.date }} {{ kudos.created.time }}
		    </div>
			<div class="col-lg-1"></div>
		</div>
	    {% endfor %}
		<div class="divider-60"></div>
	</div>
	<!-- START FOOTER -->
	<div class="container">
		<div class="row">
			<div class="col-lg-4 footer-text">
				&copy; 2013. Tubemogul, Inc.
			</div>
			<div class="col-lg-4"></div>
			<div class="col-lg-4"></div>
		</div>
	</div>
	<!-- END FOOTER -->
	<div class="divider-60"></div>
</body>
</html>